@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-indigo-600;
}

.slick-next:before,
.slick-prev:before {
  content: "" !important;
}

.slick-prev,
.slick-next {
  top: 25% !important;
  z-index: 1;
}

.slick-prev {
  left: -15px !important;
}
.slick-next {
  right: -8px !important;
}

.bjs-powered-by {
  display: none !important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #d1cfcf;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print-table {
    width: 100% !important;
    max-width: 100%;
    overflow: hidden !important;
    white-space: normal !important;
    table-layout: fixed !important;
    word-wrap: break-word !important;
  }

  .print-table th,
  .print-table td {
    word-break: break-word;
    font-size: 12px !important;
    padding: 4px !important;
  }

  .no-scroll {
    overflow: visible !important;
  }
}
